@model IEnumerable<ALeague.Models.Ladder>

@{
    ViewBag.Title = "Home";
}

<div class="text-center">
    <img src="/Images/Trophy/HyundaiALeague.jpg" />

    <img class="img-fluid" src="/Images/Trophy/Trophy.jpg" />
</div>